body {
  margin: 0;
  overflow: hidden;
  background-color: #70c5ce;
}

canvas {
  display: block;
  margin: auto;
  background: url("images/bg.png") no-repeat center center;
  background-size: cover;
}